body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Aumenta a largura do container */
}

h1 {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px; /* Espaço abaixo do título */
}

form div {
    margin-bottom: 15px; /* Aumenta o espaço entre os campos */
    text-align: center; /* Centraliza os elementos do formulário */
}

input {
    padding: 10px; /* Aumenta o padding dos inputs */
    width: 100%; /* Faz os inputs ocuparem toda a largura do container */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

button {
    width: 100%; /* Faz os botões ocuparem toda a largura do container */
    padding: 10px; /* Aumenta o padding do botão */
}

#exibir-livros {
    margin-top: 15px; /* Adiciona espaço acima do botão Exibir Livros */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.botao {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.botao.livro {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.livros-exibidos {
    margin-top: 20px; /* Espaço acima da lista de livros */
}

.foto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}